<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="footer">

		<div class="container">

			
				<!-- this is footer -->
					<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">ACERCA DE NOSOTROS</h5>
						<p class="mb-4">Ente estatal que se encarga de brindar establecimiento para realizar diferentes deportes</p>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-map-marker"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Ubicación:</h6>
										<a href ="/sede/listar" >Puedes conocer nuestras sedes aqui</a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="far fa-envelope"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Have any questions?</h6>
										<p>ipd@contacto.com</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-phone-volume"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Telefono:</h6>
										<p>(01) 2654174</p>
									</div>
								</div>
							</li>
						</ul>
				
					
								
							
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">ULTIMOS EVENTOS</h5>
						<ul class="recent-post">
							<li>
								<label class="mr-3">28 <br><span>SETIEMBRE</span></label>
								<span>Campeonato interjuvenil en la sede de Chacarilla</span>
							</li>
							<li>
								<label class="mr-3">5 <br><span>OCTUBRE</span></label>
								<span>Compra de nuevos materiales deportivos</span>
							</li>
							<li>
								<label class="mr-3">10 <br><span>NOVIEMBRE</span></label>
								<span>Implementación de reserva de canchas via Online</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">CONTACTATE CON NOSOTROS</h5>
						
						<ul class="social-pet mt-4">
							<li><a href="https://www.facebook.com/IPDPaginaOficial/" title="facebook" target="blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/ipdcomunicacion" title="twitter" target="blank" ><i class="fab fa-twitter" style="font-size: 0.73em;"></i></a></li>
							<li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.instagram.com/ipd_comunicacion" title="instagram" target="blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 Your Company. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</section>
				

			
		</div>

	</div>
</body>
</html>
